<div class = "w3-container">
    <app-search></app-search>
    <div class = "w3-row-padding">
        <div class = "w3-quarter">
            <div class="gs-card">
                <img src={{user.avatarUrl}} alt="Avatar" style="width:100%">
                <p><a href={{user.htmlUrl}} target = "_blank"><i class="fa fa-github"></i></a>&emsp;{{user.login}}</p>
            </div>
        </div>
        <div class = "w3-threequarter">
            <div class = "w3-row">
                <div class = "w3-half">
                    <div class="gs-card">
                        
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
